<a href="https://colab.research.google.com/github/likithavummiti/TCS-CODEVITA/blob/main/TCS_CODEVITA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FACTORIAL

In [1]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
result = factorial(2)
print("Factorial of 2 is:", result)

Factorial of 2 is: 2

EVEN

In [4]:
# Print even numbers using pass
for num in range(1, 11):
    if num % 2 == 0:
        print(num)
    else:
        pass

# Ask the user for a number
user_input = input("Enter a number: ")

# Convert the user input to an integer
try:
    user_number = int(user_input)

    # Check if the user's number is even
    if user_number % 2 == 0:
        print(f"{user_number} is an even number.")
    else:
        print(f"{user_number} is not an even number.")
except ValueError:
    print("Invalid input. Please enter a valid number.")

2
4
6
8
10
Enter a number: 56567
56567 is not an even number.

FUNCTION

In [5]:
def greet(name):
    print(f"Hiiii! {name}")

# Calling the function
greet("likki")  # Output: Hello, likki!
greet("ishu")    # Output: Hello, ishu!

Hiiii! likki
Hiiii! ishu

PALINDROME

PALINDROME(lists)

In [6]:
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Remove spaces and make lowercase
    return list(string) == list(reversed(string))

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("It's a palindrome.")
else:
    print("It's not a palindrome.")

Enter a string: 212
It's a palindrome.

PALINDROME(LOOP)

In [7]:
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Remove spaces and make lowercase
    left, right = 0, len(string) - 1

    while left < right:
        if string[left] != string[right]:
            return False
        left += 1
        right -= 1
    return True

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("It's a palindrome.")
else:
    print("It's not a palindrome.")

Enter a string: 3434343
It's a palindrome.

PALINDROME(RECURSION)

In [8]:
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Remove spaces and make lowercase
    if len(string) <= 1:
        return True
    if string[0] == string[-1]:
        return is_palindrome(string[1:-1])
    return False

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("It's a palindrome.")
else:
    print("It's not a palindrome.")

Enter a string: 3753363
It's not a palindrome.

PALINDROME(SLICING)

In [11]:
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Remove spaces and make lowercase
    return string == string[::-1]

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("It's a palindrome.")
else:
    print("It's not a palindrome.")

Enter a string: 54545
It's a palindrome.

PATTERNS

In [9]:
n = 5
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [12]:
 n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * i)

    *
   **
  ***
 ****
*****

In [13]:
n = 5
for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [14]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [15]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + ' '.join(map(str, range(1, i + 1))))

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [16]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [19]:
n=10
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * (2 * i - 1))

 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *